.App {
  text-align: center;
}

.counter {
  background-color: #40B244;
  color: white;
  font-size: 20pt;
  border-radius: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 3px solid #004302;
  box-shadow: 3px 7px 6px 0 #5E5E5E;
  outline: none;
  padding-top: 175px;
  padding-bottom: 175px;
  width: 350px;
}
.counter:active {
  background-color: #005F03;
  box-shadow: 1px 2px 1px 0 #5E5E5E;
  transform: translateY(5px);
}

.reset {
  background-color: #F32222;
  color: white;
  padding: 5px;
  font-size: 15pt;
  border-radius: 5px;
  width: 90px;
  margin: 25px;
  border: 1px solid #000000;
  transition-duration: 0.05s;
  box-shadow: 2px 3px 5px 0 #1a1a1a;
  outline: none;
}
.reset:active {
  background-color: #CF0C0C;
  box-shadow: 1px 2px 1px 0 #1a1a1a;
  transform: translateY(3px);
}

.clear {
  background-color: #0062F0;
  color: white;
  padding: 5px;
  font-size: 15pt;
  border-radius: 5px;
  width: 90px;
  margin: 25px;
  border: 1px solid #000000;
  transition-duration: 0.05s;
  box-shadow: 2px 3px 5px 0 #1a1a1a;
  outline: none;
}
.clear:active {
  background-color: #0041A0;
  box-shadow: 1px 2px 1px 0 #1a1a1a;
  transform: translateY(3px);
}

div {
  font-size: 13pt;
  text-align: center;
  padding-bottom: 20px;
}

.session {
  position: absolute;
  left: 20px;
}

.total {
  position: absolute;
  right: 15px;
  top: 27px;
}
